

<h3>Edit Exhibit:</h3>

<form method="post" action="/exhibits/<%=@exhibit.id%>">
  <input type="hidden" name="_method" value="put">

  <label for="name">Name:</label>
    <input id="name" type="text" name="name" value="<%=@exhibit.name%>" />

  <label for="year">Year:</label>
    <input id="year" type="number" name="year" value="<%=@exhibit.year%>" />

  <label for="medium">Medium:</label>
    <input id="medium" type="text" name="medium" value="<%=@exhibit.medium%>" />

  <label for="style">Style:</label>
    <input id="style" type="text" name="style" value="<%=@exhibit.style%>"/>

  <label>  Select an Artist:  </label>
    <select name="artist_id">
      <% for artist in @artists %>
        <option <%= "selected" if artist.id == @exhibit.artist_id %> value="<%=artist.id%>"><%= artist.full_name%></option>
      <%end%>

  <label for="image">Image:</label>
    <input id="image" type="text" name="image" value="<%=@exhibit.image%>"/>

  <input type="submit" value="Edit Exhibit" />
</form>
