
<h1>All Exhibits</h1>

<table id="exhibits_table">
  <tr>
    <th>Name</th>
    <th>Style</th>
    <th>Year</th>
    <th>Artist</th>
    <th>Image</th>
  </tr>
  <% @exhibits.each do |exhibit| %>
  <tr>
  <td><a href="/exhibits/<%=exhibit.id%>">
  <%=exhibit.name%></a></td>
  <td><%=exhibit.style%></td>
  <td><%=exhibit.year%></td>
  <td><%exhibit.artists.each do |artist|%> <%=artist.full_name()%> <%end%></td>
  <td><a href="<%=exhibit.image%>"><img src="<%=exhibit.image%>" height="100" width="150"></a></td>
  <%end%>
  </tr>
</table>
