
<h3>Exhibit:</h3>

<table id="exhibit_table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Year</th>
    <th>Medium</th>
    <th>Style</th>
    <th>Artist</th>
  </tr>
  <tr>
    <td><%=@exhibit.id%></td>
    <td><%=@exhibit.name()%></td>
    <td><%=@exhibit.year()%></td>
    <td><%=@exhibit.medium%></td>
    <td><%=@exhibit.style()%></td>
    <%@exhibit.artists.each do |artist|%>
    <td><%= artist.full_name() %></td>
    <%end%>
  </tr>
</table>

<div>
  <a href="<%=@exhibit.image%>"><img src="<%=@exhibit.image%>" height="400" width="600"></a>
</div>
