

<h3>Artist:</h3>

<table id="artist_table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Style</th>
    <th>Bio</th>
    <th>Gallery</th>
  </tr>
  <tr>
    <td><%=@artist.id%></td>
    <td><%=@artist.full_name()%></td>
    <td><%=@artist.style()%></td>
    <td><%=@artist.bio%></td>
    <td><%=@artist.gallery_id%></td>
  </tr>
</table>

<table id="artist-work">
  <tr>
    <th> Name </th>
    <th> Image </th>
  </tr>
    <tr>
      <%@artist.exhibit.each do |exhibit|%>
        <td><a href="/exhibits/<%=exhibit.id%>"><%=exhibit.name%></a></td>
        <td><a href="<%=exhibit.image%>"><img src="<%=exhibit.image%>" height="100" width="150"></a></td>
    </tr>
    <%end%>
</table>
